@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --text : #FAFAFA;
  --background-c : black;
}

body {
  padding: 0;
  margin: 0;
  color: Var(--text);
  background-color: var(--background-c);
}

.loading {
  @apply fixed top-0 w-full h-screen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .layer1{
    position: relative;
    background-color: #FAFAFA;
    animation: loading 3s infinite;
    transition: all ease-in-out 0.8s;
  }
  .layer2{
    position: relative;
    background-color: #E0E0E0;
    animation: loading 3s infinite;
    animation-delay: 0.5s;
    transition: all ease-in-out 0.8s;
  }
  .layer3{
    position: relative;
    background-color: #BDBDBD;
    animation: loading 3s infinite;
    animation-delay: 1s;
    transition: all ease-in-out 0.8s;
  }
}

@keyframes loading {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 25%;
  }
  50% {
    bottom: 50%;
  }
  75% {
    bottom: 75%;
  }
  100% {
    bottom: 100%;
  }
}